.row {
  font-family: sans-serif;
}

.border {
  width: 100px;
  height: 100px;
}

.image {
  position: relative;


}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;

  width: 95%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0.4;
  transition: 0.25s;*/
}

.image__overlay:hover {
  opacity: 1;

}

.image__title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  line-height: initial;

}